.search {
  &__container {
    padding-top: 64px;
  }

  &__input {
    width: 100%;
    padding: 12px 24px;

    background-color: transparent;
    transition: transform 250ms ease-in-out;

    color: hsl(266, 92%, 95%);
    background-color: transparent;
    /*         background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */

    border-radius: 50px;
    border: 1px solid hsl(266, 92%, 95%);
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;

    &::placeholder {
      color: hsl(266, 92%, 95%);
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }

    &:hover,
    &:focus {
      outline: 0;
      border: 1px solid transparent;
      border-bottom: 1px solid hsl(266, 92%, 95%);
      border-radius: 0;
      background-position: 100% center;
    }
  }
}
input {
  background-color: transparent;
  width: -moz-fit-content;
  width: 90%;
  border: transparent;
  color: hsl(266, 92%, 95%);
  &::placeholder {
    color: hsl(266, 92%, 95%);
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }

  &:hover,
  &:focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
  }
}

.container-sugestions {
  padding: 2rem 0;
  margin: 0 auto;
}

.container-sugestions h2 {
  padding: 2rem 0 4rem;
  text-align: center;
}

.container-grid {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 2em 2em;
  height: 10em;
}
