.container-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding-inline: 2em;
  margin-inline: auto;
  // border: 5px solid red;
}

@media only screen and (min-width: 600px) {
  .container-multiple-carousels {
    // border: 1px solid red;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.container-multiple-carousels {
  // border: 1px solid red;
  width: 100%;
}
.container-carousel {
  width: inherit;
  height: inherit;
}

// .container-carousel {
//   background-color: purple;
//   height: ;
//   color: whitesmoke;
//   border-radius: 8px 8px 0 0;
// }

.react-select-container {
  background-color: black;
  color: black;
}

.container-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  padding-bottom: 2rem;
}
.user-image {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  // box-shadow: 10px 10px 15px lightgrey;
  margin: 1rem;
  box-shadow: 4px 5px 15px 3px rgba(37, 37, 37, 0.51);
}

.padding {
  padding-top: 2rem;
}

.container-review {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background: radial-gradient(
    circle,
    rgba(253, 253, 255, 0.8914916308320203) 0%,
    rgba(255, 255, 255, 0.525) 100%
  );
  box-shadow: 4px 5px 18px 3px rgba(37, 37, 37, 0.51);
}

.background {
  background-image: url("../../public/felix-mooneeram-evlkOfkQ5rE-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.rating {
  color: goldenrod;
  padding-top: 0.5rem;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.49);
}
.title {
  padding-bottom: 0.5rem;
}

footer {
  margin: 1rem auto;
}
