.test {
  //   min-width: 50%;
  //   min-height: 50%;
  border: 1px solid blue;
}
@media only screen and (max-width: 500px) {
  img {
    object-fit: cover;
    width: 100%;
  }
}

.img {
  object-fit: cover;
}

.p {
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: center;
  height: fit-content;
  text-decoration: none;
  color: aliceblue;
  padding-top: 1em;
}

.awssld__content {
  overflow: hidden;
  display: block;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

// .test-div {
//   background-color: red;
//   overflow: hidden;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 100%;
//   height: 100%;
// }
