.test {
  //   min-width: 50%;
  //   min-height: 50%;
  border: 1px solid blue;
}
@media only screen and (max-width: 600px) {
  img {
    object-fit: cover;
    width: 100%;
  }
}

img {
  object-fit: cover;
}

.awssld__content {
  background-color: green;
  overflow: hidden;
  display: block;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

// .test-div {
//   background-color: red;
//   overflow: hidden;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 100%;
//   height: 100%;
// }
