.card-background {
  background: rgb(252, 177, 255);
  background: linear-gradient(30deg, rgb(84, 0, 84) 5%, purple 30%, plum 80%);
}

.btn-background {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    30deg,
    rgb(0, 0, 0) 30%,
    rgb(28, 28, 28) 60%,
    rgb(36, 36, 36) 95%
  );
}
