.navbar {
  width: 100%;
  height: 90px;
  top: 0;
  left: 0;
  border-bottom: 1px solid hsl(var(--secondary-clr-medium-light));
}

.navbar .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbar span {
  color: hsl(var(--secondary-clr-medium-light));
}

.navbar .nav-menu {
  display: flex;
}

.navbar li {
  padding: 1rem;
  list-style-type: none;
}

.hamburger {
  display: none;
  color: hsl(var(--secondary-clr-medium-light));
}

.navbar .icon {
  font-size: 1.5rem;
}

@media screen and (max-width: 700px) {
  .hamburger {
    display: block;
  }

  .navbar .nav-menu {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    top: 4.6875rem;
    right: -100%;
    height: 100%;
    width: 100%;
    background: hsl(var(--primary-clr-medium-dark));
    transition: 0.4s ease-in-out;
    z-index: 40;
    padding: 0;
  }

  .navbar .active {
    display: flex;
    right: 0;
  }

  .navbar .nav-menu li a {
    font-size: 2rem;
  }

  .arrange-font {
    font-size: 2rem;
  }
}

.navlink {
  text-decoration: none;
  color: hsl(var(--clr-white));
}
