/* ------------------- */
/* Custom properties   */
/* ------------------- */
// Google fonts
@import url("https://fonts.googleapis.com");
@import url("https://fonts.gstatic.com");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&family=Barlow:wght@400;700&display=swap");

:root {
  /* colors */
  --primary-clr-dark: 240 95% 5%;
  --primary-clr-medium-dark: 240, 71%, 8%;
  --primary-clr-medium: 266, 92%, 95%;
  --primary-clr-medium-light: 240, 71%, 40%;
  --primary-clr-light: 240, 71%, 40%;
  --secondary-clr-dark: 271, 97%, 53%;
  --secondary-clr-medium-dark: 282, 80%, 63%;
  --secondary-clr-medium: 265, 98%, 67%;
  --secondary-clr-medium-light: 265, 100%, 86%;
  --secondary-clr-light: 266, 92%, 95%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;
  --clr-red: 359, 85%, 56%;

  /* font-sizes */
  --fs-900: clamp(3.5rem, 8vw + 1rem, 4rem);
  --fs-800: 3rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 0.75rem;
  --fs-200: 0.625rem;

  /* font-families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

@media only screen and (max-width: 700px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    font-size: 20px;
  }
}

a {
  text-decoration: none;
}

/* set up the body */
body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  color: hsl(var(--clr-white));
  background-color: hsl(var(--primary-clr-dark));
  line-height: 1.5;
  min-height: 100vh;
  max-width: 100vw;

  display: grid;
  grid-template-rows: min-content 1fr;

  overflow-x: hidden;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}
.justify-content {
  display: flex;
  justify-content: space-between;
}
.center {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.flow--space-small {
  --flow-space: 0.75rem;
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80vw;
}
.container-padding {
  padding: 3rem 0;
}
.container-color {
  width: 40%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.skip-to-content {
  position: absolute;
  z-index: 9999;
  background: hsl(var(--primary-clr-dark));
  color: hsl(var(--clr-dark));
  padding: 0.5em 1em;
  margin-inline: auto;
  transform: translateY(-100%);
  transition: transform 250ms ease-in;
}

.skip-to-content:focus {
  transform: translateY(0);
}

/* colors */

.bg-primary-clr-dark {
  background-color: hsl(var(--primary-clr-dark));
}
.bg-primary-clr-medium-dark {
  background-color: hsl(var(--primary-clr-medium-dark));
}
.bg-primary-clr-medium {
  background-color: hsl(var(--primary-clr-medium));
}
.bg-primary-clr-medium-light {
  background-color: hsl(var(--primary-clr-medium-light));
}
.bg-primary-clr-light {
  background-color: hsl(var(--primary-clr-light));
}
.bg-secondary-clr-dark {
  background-color: hsl(var(--secondary-clr-dark));
}
.bg-secondary-clr-medium-dark {
  background-color: hsl(var(--secondary-clr-medium-dark));
}
.bg-secondary-clr-medium {
  background-color: hsl(var(--secondary-clr-medium));
}
.bg-secondary-clr-medium-light {
  background-color: hsl(var(--secondary-clr-medium-light));
}
.bg-secondary-clr-light {
  background-color: hsl(var(--secondary-clr-light));
}
.bg-white {
  background-color: hsl(var(--clr-white));
}

// --primary-clr-dark: 240 95% 5%;
// --primary-clr-medium-dark: 240, 71%, 8%;
// --primary-clr-medium: 266, 92%, 95%;
// --primary-clr-medium-light: 240, 71%, 40%;
// --primary-clr-light: 240, 71%, 40%;
// --secondary-clr-dark: 271, 97%, 53%;
// --secondary-clr-medium-dark: 282, 80%, 63%;
// --secondary-clr-medium: 265, 98%, 67%;
// --secondary-clr-medium-light: 265, 100%, 86%;
// --secondary-clr-light: 266, 92%, 95%;
// --clr-light: 231 77% 90%;
// --clr-white: 0 0% 100%;
// --clr-red: 359, 85%, 56%;

.text-primary-clr-dark {
  color: hsl(var(--primary-clr-dark));
}
.text-primary-clr-medium-dark {
  color: hsl(var(--primary-clr-medium-dark));
}
.text-primary-clr-medium {
  color: hsl(var(--primary-clr-medium));
}
.text-primary-clr-medium-light {
  color: hsl(var(--primary-clr-medium-light));
}
.text-primary-clr-light {
  color: hsl(var(--primary-clr-light));
}
.text-secondary-clr-dark {
  color: hsl(var(--secondary-clr-dark));
}
.text-secondary-clr-medium-dark {
  color: hsl(var(--secondary-clr-medium-dark));
}
.text-secondary-clr-medium {
  color: hsl(var(--secondary-clr-medium));
}
.text-secondary-clr-medium-light {
  color: hsl(var(--secondary-clr-medium-light));
}
.text-secondary-clr-light {
  color: hsl(var(--secondary-clr-light));
}
.text-white {
  color: hsl(var(--clr-white));
}

/* typography */

.ff-serif {
  font-family: var(--ff-serif);
}
.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}
.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.button {
  font-size: var(--fs-700);
  cursor: pointer;
}

/* ------------------- */
/* Home Page           */
/* ------------------- */
